* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

@font-face {
  font-family: Montserrat;
  src: url(/static/Montserrat-Regular.ttf);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Montserrat;
}

p {
  font-size: 14px;
}

/* Ajuste para dispositivos móveis */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

@font-face {
  font-family: Inter;
  src: url(/static/Inter-Medium.ttf);
}
